<?xml version="1.0"?>
<config>
    <modules>
        <Styla_Connect>
            <version>0.1.0</version>
        </Styla_Connect>
    </modules>
    
    <global>
        <models>
            <styla_connect>
                <class>Styla_Connect_Model</class>
                <resourceModel>styla_connect_resource</resourceModel>
            </styla_connect>
            
            <styla_connect_resource>
                <class>Styla_Connect_Model_Resource</class>
            </styla_connect_resource>
        </models>
        <blocks>
            <styla_connect>
                <class>Styla_Connect_Block</class>
            </styla_connect>
        </blocks>
        <helpers>
            <styla_connect>
                <class>Styla_Connect_Helper</class>
            </styla_connect>
        </helpers>
        
        <cache>
            <types>
                <styla_connect module="styla_connect" translate="label description">
                    <label>Styla Connect API Responses</label>
                    <description>Responses from the Styla API can be stored locally, for the duration defined in module's configuration.</description>
                    <tags>STYLA_CONNECT</tags>
                </styla_connect>
            </types>
        </cache>
    </global>
    
    <frontend>
        <routers>
            <styla_connect>
                <use>standard</use>
                <args>
                    <module>Styla_Connect</module>
                    <frontName>styla_connect</frontName>
                </args>
            </styla_connect>
            <styla_connect_product>
                <use>standard</use>
                <args>
                    <module>Styla_Connect</module>
                    <frontName>styla</frontName>
                </args>
            </styla_connect_product>
        </routers>
        
        <layout>
            <updates>
                <styla_connect>
                    <file>styla/connect.xml</file>
                </styla_connect>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <web>
            <routers>
                <styla_connect>
                    <area>frontend</area>
                    <class>Styla_Connect_Controller_Router</class>
                </styla_connect>
            </routers>
        </web>
        
        <styla_connect>
            <basic>
                <frontend_name>magazin</frontend_name>
                <enabled>1</enabled>
                <cache_lifetime>3600</cache_lifetime>
                <use_magento_layout>0</use_magento_layout>
            </basic>
            
            <response_fields>
                <!-- If you add new fields here, remember that these new fields must also be added to the
                     Styla rest user's access rights as well. 
                     This means updating the admin attributes and the api2.xml file.
                     Otherwise, the additional fields will be filtered out by magento api.
                -->
                <product>
                    <shop_id>
                        <class>styla_connect/api2_converter_simple</class>
                        <arguments>
                            <magento_field>entity_id</magento_field>
                            <styla_field>shopId</styla_field>
                        </arguments>
                    </shop_id>
                    <sku>
                        <class>styla_connect/api2_converter_simple</class>
                        <arguments>
                            <magento_field>sku</magento_field>
                            <styla_field>sku</styla_field>
                        </arguments>
                    </sku>
                    <page_url>
                        <class>styla_connect/api2_converter_product_url</class>
                        <arguments>
                            <styla_field>pageUrl</styla_field>
                        </arguments>
                    </page_url>
                    <image>
                        <class>styla_connect/api2_converter_product_image</class>
                        <arguments>
                            <styla_field>image</styla_field>
                        </arguments>
                    </image>
                    <caption>
                        <class>styla_connect/api2_converter_product_imageCaption</class>
                        <arguments>
                            <styla_field>caption</styla_field>
                        </arguments>
                    </caption>
                    <images>
                        <class>styla_connect/api2_converter_product_imageCollection</class>
                        <arguments>
                            <styla_field>images</styla_field>
                        </arguments>
                    </images>
                    <shop>
                        <class>styla_connect/api2_converter_product_saleable</class>
                        <arguments>
                            <styla_field>shop</styla_field>
                            <value>true</value>
                        </arguments>
                    </shop>
                </product>
                <category>
                    <name>
                        <class>styla_connect/api2_converter_simple</class>
                        <arguments>
                            <styla_field>name</styla_field>
                            <magento_field>name</magento_field>
                        </arguments>
                    </name>
                    <id>
                        <class>styla_connect/api2_converter_simple</class>
                        <arguments>
                            <styla_field>id</styla_field>
                            <magento_field>entity_id</magento_field>
                        </arguments>
                    </id>
                    <image>
                        <class>styla_connect/api2_converter_category_image</class>
                        <arguments>
                            <styla_field>image</styla_field>
                        </arguments>
                    </image>
                </category>
            </response_fields>
        </styla_connect>
    </default>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Styla_Connect after="Mage_Adminhtml">Styla_Connect_Adminhtml</Styla_Connect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <styla_connect>
                                            <title>Styla Connect</title>
                                        </styla_connect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <styla_connect>
                    <file>styla/connect.xml</file>
                </styla_connect>
            </updates>
        </layout>
    </adminhtml>
</config>